body {
    background-image: url(./images/Family\ Guy\ Photo.jpg);
    background-repeat: no-repeat;
    background-size:auto
    resize: both;
    height: 100%;
}

.button_start,
.rules_box,
.main_box,
.results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules_box.activeInfo,
.main_box.activeQuiz,
.results.activeResults{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.highscore button {
    cursor: pointer;
    color: blue;
    border-radius: 6px;
    border: none;
    font-size: 30px;
}

.highscore button:hover {
    background-color: lightblue;
}

.button_start button {
    font-size: 27px;
    font-weight: 720;
    background: white;
    cursor: pointer;
    color: blue;
    border-radius: 6px;
    padding: 15px 35px;
    border: none;
    outline: none;
}

.button_start button:hover {
    background-color: lightblue;
}

.rules_box {
    width: 550px;
    background: white;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.rules_box .rules_title {
    border-bottom: 1px solid lightslategray;
    display: flex;
    padding: px 1px;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
}

.rules_box .rule_list {
    padding: 19px 30px;
}

.rules_box .rule_list .list {
    margin: 5px;
    font-size: 15px;
}

.rules_box .rule_list .list span {
    font-weight: 700;
    color: red;
}

.rules_box .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid lightslategray;
    padding: 3px 30px;
    height: 60px;
}

.rules_box .buttons button {
    background: blue;
    color: white;
    outline: none;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    height: 40px;
    width: 100px;
    transition: all 0.3s ease;
}

.main_box {
    width: 500px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.main_box header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 0 30px;
    background: white;
    height: 70px;
}

.main_box header .title {
    font-weight: 700;
    font-size: 25px;

}

.main_box header .timer {
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 6px;
    padding: 0 10px;
    height: 55px;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.main_box header .timer .time_left {
    user-select: none;
    font-size: 19px;
    font-weight: 500;
}

.main_box header .timer .time {
    font-size: 22px;
    font-weight: 600;

}

.main_box section {
    padding: 30px;
}

.main_box section .question_text {
    font-size: 25px;
    font-weight: 700;
}

.main_box section .option_list {
    display: block;
}

.main_box section .options {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid aliceblue;
    background: rgb(225, 235, 243);
}

section .option_list .options:hover {
    color: blue;
}

.option_list .options .icon {
    text-align: center;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.option_list .options .icon.correct {
    background: white;
    color: green;
    border-color: lightgreen;
}

.option_list .options .icon.incorrect {
    background-color: white;
    color: red;
    border-color: red;
}

.main_box footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 70px;
    width: 90%;
}

.main_box footer span {
    align-items: center;
    user-select: none;
    display: flex;
}

.main_box footer span p {
    font-weight: 700;
    padding: 0 5px;
}

.results {
    background: lightblue;
    border-radius: 7px;
    padding: 6px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.results .completed {
    border-bottom: 1px solid lightgray;
    font-size: 25px;
}

.results .final_score span{
    font-size: 19px;
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0 20px;
}

.results .final_score span p {
    font-weight: 700;
    padding: 0 5px;
}

.results .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 6px;
}